<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= "#{user['firstname']}'s Profile" %></title>

    <!-- Bootstrap core CSS -->
    <link href="/../css/flatly.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/../css/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ruby-Twissandra</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Public</a></li>
            <% if session['username'] %>
            	<li><a href="/activityfeed">Activity Feed</a></li>
            	<% if session['username'] == user['username'] %>
            		<li class="active"><a href=<%= "/user/#{session['username']}" %>>My Profile</a></li>
            	<% else %>
            		<li><a href=<%= "/user/#{session['username']}" %>>My Profile</a></li>
            		<li class="active"><a href=<%= "/user/#{session['username']}" %>>User Profile</a></li>
            	<% end %>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if session['username'] == nil %>
	            <li><form class="navbar-form" action="/login" method="get">
	          	    <button class="btn btn-warning" type="submit" id="login-button">Login</button>
	          	</form></li>
              <li><form class="navbar-form" action="/signup" method="get">
                  <button class="btn btn-info" type="submit" id="login-button">Signup</button>
              </form></li>
	        <% else %>
              <li><form class="navbar-form" action="/newtweet" method="get">
                  <button class="btn btn-danger" type="submit" id="login-button">New Tweet</button>
              </form></li>
	            <li><form class="navbar-form" action="/logout" method="get">
	          	    <button class="btn btn-info" type="submit" id="login-button">Logout</button>
	          	</form></li>
	        <% end %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <div class="well">

          <% if flash %>
            <div class="alert alert-info" role="alert"><%= flash %></div>
          <% end %>

          <div class="row">

						<div class="col-md-3">
							<form action="/deleteaccount" method="post">
							<button class="btn btn-danger btn-block" type="submit">Delete Account</button>
							</form>
						</div>

	          <div class="col-md-3">
			        <form class="form-horizontal" action="/changepassword" method="post">
			          <h2 class="form-signin-heading">Change Password</h2>
			                    
							  <label class="col-sm-2 control-label">Username</label>
							  <div class="col-sm-10">
							    <p class="form-control-static"><%= user['username'] %></p>
							  </div>

							  <% if flash %>
							  	<div class="has-error has-feedback">
							  <% else %>
							  	<div>
							  <% end %>
					          <label for="curr_password" class="sr-only">Password</label>
					          <input type="password" name="curr_password" class="form-control" placeholder="Current Password" required>
					          <br />
				          </div>

			          <label for="new_password" class="sr-only">Password</label>
			          <input type="password" name="new_password" class="form-control" placeholder="New Password" required>
			          <br />

			          <button class="btn btn-info btn-block" type="submit">Change</button>
			        </form>
			       </div>

		         <div class="col-md-3">
							<h3><%= user['firstname'] %>'s friends:</h3>
							<% friends.each do |friend| %>
							<a class="btn btn-primary" href=<%= "/user/#{friend}" %>>
								<%= "#{friend}" %>
								<form action="/removefriend" method="post">
									<input type="hidden" name="friend_username" value=<%= friend %>>
									<button class="btn btn-xs btn-danger" type="submit">Remove</button>
								</form>
								</a><br /><br />
							<% end %><br />
						</div>

						<div class="col-md-3">
			        <form class="form-horizontal" action="/addfriend" method="post">
			          <h2 class="form-signin-heading">Add Friend</h2>
			                    
			          <label for="friend_username" class="sr-only">Username</label>
			          <input type="text" name="friend_username" class="form-control" placeholder="Username" required>
			          <br />

			          <button class="btn btn-success btn-block" type="submit">Add</button>
			        </form>
			      </div>


	          <div class="col-md-3">
							<h3><%= user['firstname'] %>'s followers:</h3>
							<% followers.each do |follower| %>
								<a class="btn btn-primary" href=<%= "/user/#{follower}" %>><%= "#{follower}" %></a>
							<% end %></div>

						</div>



      		<h2><%= user['firstname'] %>'s Tweets</h2><br />
          
          <% tweets.each do |tweet| %>
            <% if tweet[0]['username'] == session['username'] %>
              <div id="tweet-panel" class="panel panel-success">
            <% else %>
              <div id="tweet-panel" class="panel panel-info">
            <% end %>
              <div class="panel-heading">
                <h3 class="panel-title ">
                  <div class="label label-primary"><%= "#{tweet[0]['username']}" %></div>
                  <div class="label"><%= "#{tweet[2].to_time}" %></div>
                </h3>
              </div>
              <div class="panel-body">
                <%= "#{tweet[0]['body']}" %>
              </div>
              <% if tweet[0]['username'] == session['username'] %>
                <div class="panel-footer">
                  <form action="/removetweet" method="post">
                    <input type="hidden" name="username" value=<%= tweet[0]['username'] %>>
                    <input type="hidden" name="tweet_id" value=<%= tweet[1] %>>
                    <input type="hidden" name="time" value=<%= tweet[2] %>>
                    <input type="hidden" name="tweet-body" value=<%= tweet[0]['body'] %>>
                    <button class="btn btn-xs btn-danger" type="submit" name="remove_tweet">Remove</button>
                  </form>
                </div>
              <% end %>
            </div>
          <% end %><br />

          <nav>
            <ul class="pager">
              <% if paging_state[-2] != nil %>
                <li class="previous"><a href=<%= "/user/#{username}?paging_direction=previous" %>><i class="fa fa-arrow-left"></i> Newer</a></li>
              <% else %>
                <li class="previous disabled"><a href="#"><i class="fa fa-arrow-left"></i> Newer</a></li>
              <% end %>
              <% if paging_state[-1] != nil %>
                <li class="next"><a href=<%= "/user/#{username}?paging_direction=next" %>>Older <i class="fa fa-arrow-right"></i></a></li>
              <% else %>
                <li class="next disabled"><a href="#">Older <i class="fa fa-arrow-right"></i></a></li>
              <% end %>
              <ul class="list-group">
                <li class="list-group-item list-group-item-success">Your tweets</li>
                <li class="list-group-item list-group-item-info">Friend and public tweets</li>
              </ul>
            </ul>
          </nav>
    
        </div>
      </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/../js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/../js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>